h1 {margin: 0;}
#__next .container {height: 100%;}
.container {margin-top: 10vh;}
.container .contents {    
  position: relative;
     height: 100%;
      margin: auto;}
.title {    position: absolute;
  top: 0;
  left: 60px;}
  .logo{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    margin: auto;
    width: 314px;
height: 90px;
padding-bottom: 10px;}

.header-container {
  width: 100%;
  max-width: 1920px;
  margin-top: 30vh;
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
}

.header-container .header-wrapper {
    width: 90%;
}

.header-container .header-title {
  font-size: 5.5rem;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.header-container .header-title > span {display: block;}
/* @media (min-width: 1024px) and (max-width: 1279px) {
  .header-container .header-title {
    font-size: 5rem;
  }
} */

.header-container .header-info-wrapper {
  margin-top: 10vh;
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  -moz-box-pack: justify;
  justify-content: space-between;
}

.header-container .header-info-wrapper {
  margin-top: 10vh;
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  -moz-box-pack: justify;
  justify-content: space-between;
}
.header-container .header-info-wrapper .navigation-wrapper {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
}
.header-container .header-info-wrapper .content-wrapper {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
}
.header-container .header-info-wrapper .content-wrapper p {
  font-size: 1.5rem;
}
.header-container .header-info-wrapper .content-wrapper nav {
  margin-top: 20px;
  display: -moz-box;
  display: flex;
}
.header-container .header-info-wrapper .navigation-wrapper .navigation-content {
  margin-top: 20px;
}
.header-container .header-info-wrapper .navigation-wrapper .navigation-email {
  
}
.work-container {
  width: 100%;
  margin-top: 15vh;
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
}
.work-container .grid-wrapper {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.work-container .project-item {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  color: #000;
}
.work-container .project-item .image-wrapper {
  height: 800px;
  overflow: hidden;
  position: relative;
}
.work-container .project-item {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  color: #000;
}
.work-container .project-item .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition: all .7s cubic-bezier(.445,.05,.55,.95);
  -moz-transition: all .7s cubic-bezier(.445,.05,.55,.95);
  transition: all .7s cubic-bezier(.445,.05,.55,.95);
  cursor: pointer;
}
.work-container .project-item .project-item-mask {
  background-color: #f7f7f7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  border: none;
}
.work-container .project-item .image-wrapper:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  opacity: .8;
}
.work-container .project-item .image-wrapper:hover h1 {
  font-size: 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  transform: translate(-50%);
  cursor: pointer;
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .header-container .header-info-wrapper .navigation-wrapper .navigation-content h1 {
    font-size: 2.5rem;
    line-height: 40px;
  }
  .work-container .project-item .image-wrapper {
    height: 500px;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .work-container .project-item .image-wrapper {
    height: 400px;
  }
  .work-container .project-item .image-wrapper:hover h1 {
    font-size: 1.5rem;
  }
}
