.nav {position: fixed;
        top: 50px;
        right: 45px;
        z-index: 9999;
        -webkit-transition: opacity 2s;
        transition: opacity 2s;}
	.nav a {display: inline-block; margin: 0 15px; padding-bottom: 3px;}

  .content {
	opacity: 0;
	transition: .8s;
	height: 100%;
	overflow: auto;
  }
  
  .fadeIn {
	opacity: 1;
  }
  